<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="Toyama.rb,toyamarb,富山.rb,もくもく会,Ruby,富山">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
    <script src="/script.js"></script>
    <script src="https://connpass.com/api/v1/event/?series_id=2557&order=3&count=1&callback=callback"></script>
    <title>Toyama.rb</title>
  </head>

  <body>
    <section id="head" class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="has-text-centered">
            <img class="logo" src="/logo.png" />
          </div>
          <h2 id="next" class="subtitle has-text-centered"></h2>
          <script type="text/template" id="next_template">
            <a target="_blank" href="<%- event_url %>">
              <%- title %>
              <span class="icon is-small">
                <i class="fa fa-external-link"></i>
              </span>
            </a>
            </br>
            <span class="next-time">
              <span class="icon is-small">
                <i class="fa fa-calendar"></i>
              </span>
              <%- started_at %>-<%- ended_at %></br>
            </span>
            <span class="place">
              <span class="icon is-small">
                <i class="fa fa-map-marker"></i>
              </span>
              <%- place %></br>
            </span>
          </script>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-1-tablet is-offset-2-desktop">
            <div class="section-field">
              <h1 class="title">Toyama.rb?</h1>
              <p>富山県とその周辺地域のRubyistのためのコミュニティです。主催者は <a href="https://twitter.com/mugi_uno" target="_blank">@mugi_uno</a> です。</p>
              <p>富山市内を中心に活動しています。</p>
            </div>

            <div class="section-field">
              <h1 class="title">なにをするの?</h1>
              <p><a href="http://d.hatena.ne.jp/keyword/%A4%E2%A4%AF%A4%E2%A4%AF%B2%F1">もくもく会</a>をメインに活動しています。 <br />
              <p>もくもくと好きな作業をしつつ、参加者同士での交流を深めましょう！というのが目的です。</p>
              <p>不定期にもくもく会以外のイベントをやったりもしています。</p>
              <p>終了後には懇親会もあるよ！</p>
            </div>

            <div class="section-field">
              <h1 class="title">いつやってるの?</h1>
              <p>基本的には毎月第２土曜日の日中の開催としています。</p>
              <p>２ヶ月前には募集ページができるので、そこから申し込んでね！</p>
            </div>

            <div class="section-field">
              <h1 class="title">参加条件とかはあるの?</h1>
              <p>参加に制約はありません、どなたでもウェルカムです。</p>
              <ul class="trb-list">
                <li>Ruby初心者でもOK</li>
                <li>というか主催者が初心者です</li>
                <li>熟練者ももちろんOK</li>
                <li>もはやRubyじゃなくてもOK</li>
                <li>と言うかもうなんでもOK（読書します！とかでも大丈夫）</li>
              </ul>
            </div>

            <div class="section-field">
              <h1 class="title">募集はどこでやってるの?</h1>
              <p><a href="https://toyamarb.connpass.com/">connpassを利用しています。</a></p>
            </div>

            <div class="section-field">
              <h1 class="title">Toyama.rbをなぜ作ったのか?</h1>
              <p>そこにコミュニティがなかったからさ！</p>
              <p>富山では決して多くないRuby案件。でもRubyが好きでもいいよね！</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>©Toyama.rb
          </p>
          <p>
            <a class="icon" href="https://github.com/toyamarb">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
