#head {
  background: linear-gradient(327deg, #d5d7ff, #edd5ff, #ffd5e2, #ffefd5, #eeffd5, #d5ffec, #d5f8ff, #e3e3e3, #c5c5c5);
  background-size: 1800% 1800%;

  -webkit-animation: AnimationName 120s ease infinite;
  -moz-animation: AnimationName 120s ease infinite;
  -o-animation: AnimationName 120s ease infinite;
  animation: AnimationName 120s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes AnimationName { 
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

.logo {
  max-height: 200px;
}

.recently {
  margin-top: 25px;
  font-size: 0.95rem;
}

#next {
  margin-top: 20px;
}

.next-time {
  font-size: 0.9rem;
}

.place {
  font-size: 0.9rem;
}

.section-field {
  margin-bottom: 40px;
}

.trb-list {
  padding-top: 15px;
  padding-left: 20px;
}

.trb-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.trb-list.events li::before {
  content: '・';  
}

.trb-list li::before {
  display: block;
  content: '●';
  position: absolute;
  left: 0px;
}

.coc-references {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #777;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}